<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- section title -->
      <div class="col-md-12">
        <div class="section-title">
          <h3 class="title">Trending Gifs</h3>
        </div>
      </div>
      <!-- /section title -->
    </div>
  </div>
</div>
<div id="hot-deal" class="section">
  <!-- container -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hot-deal">
          <a class="primary-btn cta-btn" href="#">Load more</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /container -->
</div>
<div id="newsletter" class="section">
  <!-- container -->
  <div class="container"></div>
  <!-- /container -->
</div>

